.button {
  background-color: #68b738;
  font-family: "oswald-regular", Arial, sens-serif;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  border: 0;
  height: 40px;
  width: 250px;
}
