.cart__added {
  display: flex;
  height: 150px;
  align-items: center;
  font-size: 20px;
  background-color: white;
  z-index: 1;
  width: 70%;
  margin-bottom: 50px;
}

.cart__added-picture {
  margin-right: 3%;
  width: 15%;
}

.cart__added-title {
  font-weight: normal;
  width: 20%;
}

.cart__none {
  margin-top: 0;
  font-size: 25px;
}

.cart__wrapper {
  color: grey;
}

.cart__show {
  width: 20%;
  margin-bottom: 40px;
}

.cart__added-price {
  margin-left: 40px;
}

.cart__total {
  font-size: 20px;
}

.cart__total span {
  border-bottom: 2px solid #68b738;
  margin-right: 20px;
}

.cart__total-value {
  border: none;
  background-color: #f2f2f2;
  height: 30px;
  width: 90px;
  text-align: center;
  border-radius: 8%;
}

