.cart__added {
  display: flex;
  height: 150px;
  align-items: center;
  font-size: 20px;
  background-color: white;
  z-index: 1;
}

.cart__added-picture {
  margin-right: 40px;
}

.cart__added-title {
  font-weight: normal;
  margin-right: 40px;
  width: 160px;
}

.cart__added-count {
  margin-right: 40px;
}

.cart__none {
  position: relative;
  margin-top: 0;
  top: 30px;
  font-size: 25px;
  z-index: -1;
  color: grey;
}

.cart__added-price {
  margin-left: 30px;
}

