.wrapper {
  margin: 0 auto;
  max-width: 1320px;
  position: relative;
  box-sizing: border-box;
  padding-left: 30px;
}

@media (max-width: 600px) {
  .wrapper {
    max-width: 500px;
    padding-left: 30px;
  }
}
